a {
    color: red;  
    }
a:visited {color: green;}

button {
    background-color: blue;
    color: white;
    border: 2px solid black;
}

table {
    border: 3px solid black;
}
table thead {
    background-color: blueviolet;
    color: white;
}